In [1]:
########################################################################
##########     IMPORT NECESSARY LIBRARIES.   ###########################
########################################################################
from msal import ConfidentialClientApplication
import imaplib
import email
import pandas as pd
import numpy as np
import os
from datetime import timedelta,datetime
from statsmodels.tsa.holtwinters import ExponentialSmoothing
from statsmodels.tsa.holtwinters import SimpleExpSmoothing
import oracledb as orc
import csv
from dateutil.relativedelta import relativedelta
import time
#from statsmodels.tsa.api import ExponentialSmoothing
np.set_printoptions(suppress=True)
pd.set_option('display.float_format', lambda x: '%.2f' %x)

In [2]:
########################################################################
##########     CREATE CLASS FOR INSERTING INTO DB.   ###################
########################################################################
class DataMigration:
    def __init__(self):
        pass
    
    def writePandas(self,table_name,
                 columns,sourcedataframe,batch_size = 10000,
                 renamed_columns={}):
        currrow=None
        try:
            # c = props.ProcessDataDbToFile()
            # conn = c.get_db_conn()
            pddata=sourcedataframe
            pddata.rename(columns=renamed_columns, inplace=True)
            print(pddata.shape)
            print(pddata.head(3))
            
            connection = orc.connect(user='analytics', password='icub3pr0d2018#', dsn='192.168.202.75:1521/icubeprd')
            with connection.cursor() as cur:
                i=0
                colnanmesstr="("
                placeholder="("
                for col in columns:
                    if i==0:
                        placeholder=placeholder+":v"+str(i)
                        colnanmesstr = colnanmesstr + col
                    else:
                        placeholder = placeholder + ",:v" + str(i)
                        colnanmesstr = colnanmesstr + "," + col
                    i=i+1
                placeholder = placeholder + ")"
                colnanmesstr=colnanmesstr+")"
                sql = f"""insert into {table_name} {colnanmesstr} values {placeholder}"""
                insertdata = []
                try:

                    # Predefine the memory areas to match the table definition
                    cur.setinputsizes(None, 25)
                    # Adjust the batch size to meet your memory and performance requirements
                    # batch_size = 10000
                    for record in pddata.itertuples(index=False):
                        row=record._asdict()
                        record_insert = tuple(row[col] for col in columns)
                        # print(record_insert)
                        insertdata.append(record_insert)
                        if len(insertdata) % batch_size == 0:
                            # print(insertdata)
                            cur.executemany(sql, insertdata)
                            insertdata = []
                            connection.commit()
                        # print(row)
                    if insertdata:
                        cur.executemany(sql, insertdata)
                    connection.commit()
                    # conn.close()
                    print("end---",pddata.shape)
                except Exception as e:
                    print(e)
                    print(insertdata)
                    raise e
        except Exception as e:
            print("overall",e)
            # conn.rollback()
            raise e

In [3]:
########################################################################
##########     CLIENT SECRET FOR OUTLOOK ACCESS   ######################
########################################################################
def get_access_token():
    tenantID = 'd763f040-5b2c-4d8f-9810-95b011cd8254'
    authority = 'https://login.microsoftonline.com/' + tenantID
    clientID = '6afa9b7a-a61f-4060-89d6-db33c0ea74d0'
    clientSecret = 'VNd8Q~txHU6yWVBGeRBgLOXbdGZNQrWkavJptbre'
    scope = ['https://outlook.office365.com/.default'
             #'https://graph.microsoft.com/IMAP.AccessAsUser.All/.default'
             #'https://ps.outlook.com/IMAP.AccessAsApp/.default'
             #'https://outlook.office365.com/IMAP.AccessAsApp/.default'
            #'https://outlook.office.com/POP.AccessAsUser.All',
             #'api://6afa9b7a-a61f-4060-89d6-db33c0ea74d0/IMAP'
            #'https://outlook.office.com/SMTP.Send']
    ]
    app = ConfidentialClientApplication(clientID, 
          authority=authority, 
          client_credential = clientSecret)
    access_token = app.acquire_token_for_client(scopes=scope)
    return access_token

In [4]:
########################################################################
##########     TOKEN GENERATION TO ACCESS INBOX  #######################
########################################################################
def generate_auth_string(user, token):
    auth_string = f"user={user}\1auth=Bearer {token}\1\1"
    return auth_string

In [5]:
########################################################################
##########     INITIATE IMAP FOR OUTLOOK ACCESS   ######################
########################################################################
imap = imaplib.IMAP4_SSL('outlook.office365.com')
imap.debug = 4
access_token = get_access_token()
print(access_token)
try:
    imap.authenticate("XOAUTH2", lambda x:generate_auth_string(
      'gabriel.ayeni@imbank.co.ke',access_token['access_token']))
except Exception as e:
    print(e)

  43:12.81 > b'FGLK1 AUTHENTICATE XOAUTH2'
  43:12.88 < b'+ '

{'error': 'unauthorized_client', 'error_description': "AADSTS700016: Application with identifier '6afa9b7a-a61f-4060-89d6-db33c0ea74d0' was not found in the directory 'I&M Bank Limited'. This can happen if the application has not been installed by the administrator of the tenant or consented to by any user in the tenant. You may have sent your authentication request to the wrong tenant.\r\nTrace ID: 73d199ad-209a-4fa4-bf6a-319d18431201\r\nCorrelation ID: 9b8de075-03d6-45ad-9fe0-5d5e9f28285c\r\nTimestamp: 2023-08-29 12:43:12Z", 'error_codes': [700016], 'timestamp': '2023-08-29 12:43:12Z', 'trace_id': '73d199ad-209a-4fa4-bf6a-319d18431201', 'correlation_id': '9b8de075-03d6-45ad-9fe0-5d5e9f28285c', 'error_uri': 'https://login.microsoftonline.com/error?code=700016'}
'access_token'

In [ ]:
########################################################################
##########     RETRIEVE UNREAD EMAILS/ATTACHMENT   #####################
########################################################################
imap.select('inbox')
status, email_ids = imap.search(None, 'UNSEEN')
email_ids = email_ids[0].split()
for email_id in email_ids:
    status, email_data = imap.fetch(email_id, '(RFC822)')
    for response in email_data:
        if isinstance(response, tuple):
            msg = email.message_from_bytes(response[1])
            for part in msg.walk():
                # Check if the part is an attachment
                if part.get_content_type() == 'text/plain':
                    body = part.get_payload(decode=True).decode()
                if part.get_content_maintype() == 'multipart':
                    continue
                if part.get('Content-Disposition') is None:
                    continue
                # Save attachment to disk
                filename = part.get_filename()
                print(filename)
                sender = msg['From']
                subject = msg['Subject']
                if '.png' not in filename:
                    with open(filename, 'wb') as f:
                        f.write(part.get_payload(decode=True))
                #imap.store(email_id, '-FLAGS', '\\Seen')

In [6]:
filename = 'Data Submission Template- New SF.xlsx'
business_type = 'NON-SEASONAL'

In [11]:
########################################################################
##########     READ ATTACHMENT RECEIVED.   #############################
########################################################################
if filename.split('.')[-1] == 'csv':
    anchor_df=pd.read_csv(filename)
else:
    try:
        anchor_df=pd.read_excel(filename,sheet_name='Monthly',
                                converters={'PHONE_NUMBER':str,
                                           'REG_NO':str})
    except:
        anchor_df=pd.read_excel(filename,sheet_name='Weekly',
                               converters={'PHONE_NUMBER':str,
                                           'REG_NO':str})
anchor_df.columns = anchor_df.columns.str.replace('[#,@,&,/,'']', '')

/var/folders/tm/qvqmw3jj2pz4m7hh0rj3z8w9_kzfyl/T/ipykernel_66490/1484414699.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  anchor_df.columns = anchor_df.columns.str.replace('[#,@,&,/,'']', '')

In [12]:
anchor_df.columns

Index(['S.No', 'ANCHOR_CLIENT', 'SHOP_NAME', 'ROUTE', 'FULL_NAME_OF_DIRECTOR',
       'PHYSICAL_ADDRESS', 'LOCATION', 'NEAREST_LANDMARK', 'PHONE_NUMBER',
       'TOTAL', 'Month_1', 'Month_2', 'Month_3', 'Month_4', 'Month_5',
       'Month_6', 'Month_7', 'Month_8', 'Month_9', 'Month_10', 'Month_11',
       'Month_12'],
      dtype='object')

In [13]:
anchor_df.shape

(23, 22)

In [15]:
anchor_df.head(3)

,S.No,ANCHOR_CLIENT,SHOP_NAME,ROUTE,FULL_NAME_OF_DIRECTOR,PHYSICAL_ADDRESS,LOCATION,NEAREST_LANDMARK,PHONE_NUMBER,TOTAL,...,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12
0,1.00,JAMII DISTRIBUTORS,JOSEE SHOP,KITALAKAPEL,JOSEPH WANJALA OAKOLI,KITALAKAPEL,KITALAKAPEL,KACHELIBA,0758961555,11065679.40,...,1179754.84,1452620.92,2360012.00,1762095.92,1464500.00,848873.88,NaN,NaN,NaN,NaN
1,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
anchor_df.rename(columns={'ANCHOR CLIENT ':'ANCHOR_CLIENT',
                         'NEAREST_LANDMARK (school churchmallbuilding e.t.c)': 'NEAREST_LANDMARK',
                         'REG_NO  (ID)': 'REG_NO'},inplace=True)
anchor_df['ANCHOR_CLIENT'] = anchor_df['ANCHOR_CLIENT'].astype(str)

In [18]:
#anchor_df['REG_NO'] = anchor_df['REG_NO'].astype(str)

In [23]:
anchor_df['REG_NO'] = 'UNAVAILABLE'
anchor_df['AGENT_CODE'] = 'UNAVAILABLE'
anchor_df['TOWN'] = 'UNAVAILABLE'

In [24]:
try:
    del anchor_df['S.No']
    del anchor_df['NO_OF_OUTLETS']
except:
    pass

In [25]:
anchor_df[['SHOP_NAME','ANCHOR_CLIENT', 'ROUTE', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
       'PHYSICAL_ADDRESS', 'TOWN', 'LOCATION', 'NEAREST_LANDMARK', 'REG_NO',
       'PHONE_NUMBER']] = anchor_df[['SHOP_NAME','ANCHOR_CLIENT', 'ROUTE', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
       'PHYSICAL_ADDRESS', 'TOWN', 'LOCATION', 'NEAREST_LANDMARK', 'REG_NO',
       'PHONE_NUMBER']].fillna('UNAVAILABLE')
anchor_df=anchor_df.dropna(axis=1,how='all')

In [26]:
anchor_df[['SHOP_NAME','ANCHOR_CLIENT', 'ROUTE', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
       'PHYSICAL_ADDRESS', 'TOWN', 'LOCATION', 'NEAREST_LANDMARK', 'REG_NO',
       'PHONE_NUMBER']] = anchor_df[['SHOP_NAME','ANCHOR_CLIENT', 'ROUTE', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
       'PHYSICAL_ADDRESS', 'TOWN', 'LOCATION', 'NEAREST_LANDMARK', 'REG_NO',
       'PHONE_NUMBER']].replace("'","")

/var/folders/tm/qvqmw3jj2pz4m7hh0rj3z8w9_kzfyl/T/ipykernel_66490/2634221627.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anchor_df[['SHOP_NAME','ANCHOR_CLIENT', 'ROUTE', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',

In [27]:
anchor_df = anchor_df[anchor_df['SHOP_NAME'] != 'UNAVAILABLE']
anchor_df.columns

Index(['ANCHOR_CLIENT', 'SHOP_NAME', 'ROUTE', 'FULL_NAME_OF_DIRECTOR',
       'PHYSICAL_ADDRESS', 'LOCATION', 'NEAREST_LANDMARK', 'PHONE_NUMBER',
       'TOTAL', 'Month_1', 'Month_2', 'Month_3', 'Month_4', 'Month_5',
       'Month_6', 'Month_7', 'Month_8', 'REG_NO', 'AGENT_CODE', 'TOWN'],
      dtype='object')

In [28]:
cols = list(anchor_df.columns)

In [29]:
if 'Month_1' in cols:
    table_name = 'Stock_Finance_Monthly'
else:
    table_name = 'Stock_Finance_Weekly'
print('records will be inserted into this table: ', table_name)

records will be inserted into this table:  Stock_Finance_Monthly

In [30]:
anchor_df.columns

Index(['ANCHOR_CLIENT', 'SHOP_NAME', 'ROUTE', 'FULL_NAME_OF_DIRECTOR',
       'PHYSICAL_ADDRESS', 'LOCATION', 'NEAREST_LANDMARK', 'PHONE_NUMBER',
       'TOTAL', 'Month_1', 'Month_2', 'Month_3', 'Month_4', 'Month_5',
       'Month_6', 'Month_7', 'Month_8', 'REG_NO', 'AGENT_CODE', 'TOWN'],
      dtype='object')

In [40]:
anchor_df = anchor_df[['ANCHOR_CLIENT', 'SHOP_NAME', 'ROUTE', 'FULL_NAME_OF_DIRECTOR',
       'PHYSICAL_ADDRESS', 'LOCATION', 'NEAREST_LANDMARK','REG_NO', 'AGENT_CODE', 'TOWN' ,'PHONE_NUMBER',
       'TOTAL', 'Month_1', 'Month_2', 'Month_3', 'Month_4', 'Month_5',
       'Month_6', 'Month_7', 'Month_8']]

In [41]:
anchor_df.fillna(0, inplace=True)

In [42]:
anchor_df['TOTAL'] = anchor_df['TOTAL'].astype('int64')

In [43]:
anchor_df.sample(1)

,ANCHOR_CLIENT,SHOP_NAME,ROUTE,FULL_NAME_OF_DIRECTOR,PHYSICAL_ADDRESS,LOCATION,NEAREST_LANDMARK,REG_NO,AGENT_CODE,TOWN,PHONE_NUMBER,TOTAL,Month_1,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8
0,JAMII DISTRIBUTORS,JOSEE SHOP,KITALAKAPEL,JOSEPH WANJALA OAKOLI,KITALAKAPEL,KITALAKAPEL,KACHELIBA,UNAVAILABLE,UNAVAILABLE,UNAVAILABLE,0758961555,11065679,836066,1161755.84,1179754.84,1452620.92,2360012.00,1762095.92,1464500.00,848873.88

In [45]:
if business_type.upper() != 'SEASONAL':
    if table_name == 'Stock_Finance_Monthly':
        last_column = anchor_df.columns[-1]
        last_month_index = last_column.split('_')[1]
        transactions_amount = anchor_df.copy()
        transactions_amount.drop(columns=['ROUTE', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
           'PHYSICAL_ADDRESS', 'TOWN', 'LOCATION', 'NEAREST_LANDMARK', 'REG_NO',
           'PHONE_NUMBER','TOTAL','ANCHOR_CLIENT'],inplace=True)
        refkey = 'SHOP_NAME'
        transaction_week = transactions_amount.copy()
        transaction_week = transaction_week.melt(id_vars=refkey,
                             var_name='variable', 
                            value_name="value")
        format ="%Y-%m-%d"
        transaction_week['value']=transaction_week['value'].apply(lambda x:str(x).replace("-",'0'))
        transaction_week['week_value']=transaction_week['value'].astype(float)
        trans_data=transaction_week.fillna(0)
        trans_data['value']=pd.to_numeric(trans_data['value']).replace("-",0.0)
        trans_data['week_value']=trans_data['week_value'].astype(float)
        column_names=[]
        for i in range(1,int(last_month_index) + 1,1):
            column_names.append('Month_'+ str(i))
        trans_data['variable'] = pd.Categorical(trans_data['variable'],
                                            categories= column_names,ordered=True)
        trans_data.sort_values(by = ['SHOP_NAME','variable'], inplace=True)
        trans_data = trans_data[~trans_data['variable'].isnull()]
        fitted_list = []
        ########################################################################
        ##########     APPLY SMOOTHING PER SHOP NAME   #########################
        ########################################################################
        for i in trans_data['SHOP_NAME'].unique():  
            values = np.asarray(trans_data[trans_data['SHOP_NAME'] == i]['week_value'])
            exp = SimpleExpSmoothing(values)#,**model) 
            exp_model = exp.fit(smoothing_level=0.56) 
            next_week_sales = exp_model.forecast(1)
            result = exp_model.fittedvalues
            df = pd.DataFrame(result)
            df.columns=['ExpSmoothValues']
            df['SHOP_NAME'] = i
            df['Average_Value'] = np.mean(values)
            df['Forecast'] = next_week_sales[0]
            fitted_list.append(df)
        new_df = pd.concat(fitted_list,0)
        trans_data['ExpSmoothValues'] = new_df['ExpSmoothValues'].values
        trans_data['Forecast'] = new_df['Forecast'].values
        trans_data['Forecast'] = [round(x, -3) for x in trans_data['Forecast']]
        trans_data['Average_Forecast'] = new_df['Average_Value'].values
        trans_data['Average_Forecast'] = [round(x, -3) for x in trans_data['Average_Forecast']]
        val_data = trans_data[['SHOP_NAME','Forecast','Average_Forecast']]
        val_data.drop_duplicates(subset = ['SHOP_NAME'], keep='first',inplace=True)
        val_data.reset_index(drop=True)
        anchor_df = pd.merge(anchor_df,val_data,how='left',on='SHOP_NAME')
        anchor_df['DATE_OF_REPORT'] = datetime.today().strftime('%Y-%m-%d')
        anchor_df['DATE_OF_REPORT'] = pd.to_datetime(anchor_df['DATE_OF_REPORT'])
        cols = list(anchor_df.columns)
        ########################################################################
        ##########WRITE THE DATA INTO ORACLE TABLE #############################
        ########################################################################
        writer = DataMigration()
        writer.writePandas(table_name=table_name,columns=cols,
                       sourcedataframe=anchor_df)
    else:
        last_column = anchor_df.columns[-1]
        last_month_index = last_column.split('_')[1]
        transactions_amount = anchor_df.copy()
        transactions_amount.drop(columns=['ROUTE', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
           'PHYSICAL_ADDRESS', 'TOWN', 'LOCATION', 'NEAREST_LANDMARK', 'REG_NO',
           'PHONE_NUMBER','TOTAL','ANCHOR_CLIENT'],inplace=True)
        refkey = 'SHOP_NAME'
        transaction_week = transactions_amount.copy()
        transaction_week = transaction_week.melt(id_vars=refkey,
                             var_name='variable', 
                            value_name="value")
        format ="%Y-%m-%d"
        transaction_week['value']=transaction_week['value'].apply(lambda x:str(x).replace("-",'0'))
        transaction_week['week_value']=transaction_week['value'].astype(float)
        trans_data=transaction_week.fillna(0)
        trans_data['value']=pd.to_numeric(trans_data['value']).replace("-",0.0)
        trans_data['week_value']=trans_data['week_value'].astype(float)
        column_names=[]
        for i in range(1,int(last_month_index) + 1,1):
            column_names.append('Week_'+ str(i))
        trans_data['variable'] = pd.Categorical(trans_data['variable'],
                                            categories= column_names,ordered=True)
        trans_data.sort_values(by = ['SHOP_NAME','variable'], inplace=True)
        trans_data = trans_data[~trans_data['variable'].isnull()]
        fitted_list = []
        ########################################################################
        ##########     APPLY SMOOTHING PER SHOP NAME   #########################
        ########################################################################
        for i in trans_data['SHOP_NAME'].unique():  
            values = np.asarray(trans_data[trans_data['SHOP_NAME'] == i]['week_value'])
            exp = SimpleExpSmoothing(values)#,**model) 
            exp_model = exp.fit(smoothing_level=0.56) 
            next_week_sales = exp_model.forecast(1)
            result = exp_model.fittedvalues
            df = pd.DataFrame(result)
            df.columns=['ExpSmoothValues']
            df['SHOP_NAME'] = i
            df['Average_Value'] = np.mean(values)
            df['Forecast'] = next_week_sales[0]
            fitted_list.append(df)
        new_df = pd.concat(fitted_list,0)
        trans_data['ExpSmoothValues'] = new_df['ExpSmoothValues'].values
        trans_data['Forecast'] = new_df['Forecast'].values
        trans_data['Forecast'] = [round(x, -3) for x in trans_data['Forecast']]
        trans_data['Average_Forecast'] = new_df['Average_Value'].values
        trans_data['Average_Forecast'] = [round(x, -3) for x in trans_data['Average_Forecast']]
        val_data = trans_data[['SHOP_NAME','Forecast','Average_Forecast']]
        val_data.drop_duplicates(subset = ['SHOP_NAME'], keep='first',inplace=True)
        val_data.reset_index(drop=True)
        anchor_df = pd.merge(anchor_df,val_data,how='left',on='SHOP_NAME')
        anchor_df['DATE_OF_REPORT'] = datetime.today().strftime('%Y-%m-%d')
        anchor_df['DATE_OF_REPORT'] = pd.to_datetime(anchor_df['DATE_OF_REPORT'])
        cols = list(anchor_df.columns)
        ########################################################################
        ##########WRITE THE DATA INTO ORACLE TABLE #############################
        ########################################################################
        writer = DataMigration()
        writer.writePandas(table_name=table_name,columns=cols,
                       sourcedataframe=anchor_df)
else:
    print('Business type is {}'.format(business_type))
    if table_name == 'Stock_Finance_Monthly':
        last_column = anchor_df.columns[-1]
        last_month_index = last_column.split('_')[1]
        transactions_amount = anchor_df.copy()
        transactions_amount.drop(columns=['ROUTE', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
           'PHYSICAL_ADDRESS', 'TOWN', 'LOCATION', 'NEAREST_LANDMARK', 'REG_NO',
           'PHONE_NUMBER','TOTAL','ANCHOR_CLIENT'],inplace=True)
        refkey = 'SHOP_NAME'
        transaction_week = transactions_amount.copy()
        transaction_week = transaction_week.melt(id_vars=refkey,
                             var_name='variable', 
                            value_name="value")
        format ="%Y-%m-%d"
        transaction_week['value']=transaction_week['value'].apply(lambda x:str(x).replace("-",'0'))
        transaction_week['week_value']=transaction_week['value'].replace(',','').astype(float)
        trans_data=transaction_week.fillna(0)
        trans_data['value']=pd.to_numeric(trans_data['value']).replace("-",0.0)
        trans_data['week_value']=trans_data['week_value'].astype(float)
        column_names=[]
        for i in range(1,int(last_month_index) + 1,1):
            column_names.append('Month_'+ str(i))
        trans_data['variable'] = pd.Categorical(trans_data['variable'],
                                            categories= column_names,ordered=True)
        trans_data.sort_values(by = ['SHOP_NAME','variable'], inplace=True)
        trans_data = trans_data[~trans_data['variable'].isnull()]
        fitted_list = []
        ########################################################################
        ##########     APPLY SMOOTHING PER SHOP NAME   #########################
        ########################################################################
        for i in trans_data['SHOP_NAME'].unique():
            if (trans_data[(trans_data['SHOP_NAME'] == i) & (trans_data['week_value'] > 0)].shape[0]) < 6:
                df = pd.DataFrame([0])
                df.columns=['ExpSmoothValues']
                df['SHOP_NAME'] = i
                df['Average_Value'] = 0
                df['Forecast'] = 0
            else:   
                values = np.asarray(trans_data[(trans_data['SHOP_NAME'] == i) & (trans_data['week_value'] > 0)]['week_value'])
                exp = SimpleExpSmoothing(values)#,**model) 
                exp_model = exp.fit(smoothing_level=0.56)
                next_week_sales = exp_model.forecast(1)
                result = exp_model.fittedvalues
                df = pd.DataFrame(result)
                df.columns=['ExpSmoothValues']
                df['SHOP_NAME'] = i
                df['Average_Value'] = np.mean(values)
                df['Forecast'] = next_week_sales[0]
            fitted_list.append(df)
        new_df = pd.concat(fitted_list,0)
        for j in new_df['SHOP_NAME'].unique():
            trans_data.loc[trans_data['SHOP_NAME'] == j,'Forecast'] = new_df[new_df['SHOP_NAME'] == j]['Forecast'].iloc[0]
            trans_data['Forecast'] = [round(x, -3) for x in trans_data['Forecast']]
            trans_data.loc[trans_data['SHOP_NAME'] == j,'Average_Forecast'] = new_df[new_df['SHOP_NAME'] == j]['Average_Value'].iloc[0]
            trans_data['Average_Forecast'] = [round(x, -3) for x in trans_data['Average_Forecast']]
        val_data = trans_data[['SHOP_NAME','Forecast','Average_Forecast']]
        val_data.drop_duplicates(subset = ['SHOP_NAME'], keep='first',inplace=True)
        val_data.reset_index(drop=True)
        anchor_df = pd.merge(anchor_df,val_data,how='left',on='SHOP_NAME')
        anchor_df['DATE_OF_REPORT'] = datetime.today().strftime('%Y-%m-%d')
        anchor_df['DATE_OF_REPORT'] = pd.to_datetime(anchor_df['DATE_OF_REPORT'])
        cols = list(anchor_df.columns)
        ########################################################################
        ##########WRITE THE DATA INTO ORACLE TABLE #############################
        ########################################################################
        writer = DataMigration()
        writer.writePandas(table_name=table_name,columns=cols,
                       sourcedataframe=anchor_df)
    else:
        last_column = anchor_df.columns[-1]
        last_month_index = last_column.split('_')[1]
        transactions_amount = anchor_df.copy()
        transactions_amount.drop(columns=['ROUTE', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
           'PHYSICAL_ADDRESS', 'TOWN', 'LOCATION', 'NEAREST_LANDMARK', 'REG_NO',
           'PHONE_NUMBER','TOTAL','ANCHOR_CLIENT'],inplace=True)
        refkey = 'SHOP_NAME'
        transaction_week = transactions_amount.copy()
        transaction_week = transaction_week.melt(id_vars=refkey,
                             var_name='variable', 
                            value_name="value")
        format ="%Y-%m-%d"
        transaction_week['value']=transaction_week['value'].apply(lambda x:str(x).replace("-",'0'))
        transaction_week['week_value']=transaction_week['value'].replace(',','').astype(float)
        trans_data=transaction_week.fillna(0)
        trans_data['value']=pd.to_numeric(trans_data['value']).replace("-",0.0)
        trans_data['week_value']=trans_data['week_value'].astype(float)
        column_names=[]
        for i in range(1,int(last_month_index) + 1,1):
            column_names.append('Week_'+ str(i))
        trans_data['variable'] = pd.Categorical(trans_data['variable'],
                                            categories= column_names,ordered=True)
        trans_data.sort_values(by = ['SHOP_NAME','variable'], inplace=True)
        trans_data = trans_data[~trans_data['variable'].isnull()]
        fitted_list = []
        ########################################################################
        ##########     APPLY SMOOTHING PER SHOP NAME   #########################
        ########################################################################
        for i in trans_data['SHOP_NAME'].unique():
            if (trans_data[(trans_data['SHOP_NAME'] == i) & (trans_data['week_value'] > 0)].shape[0]) < 15:
                df = pd.DataFrame([0])
                df.columns=['ExpSmoothValues']
                df['SHOP_NAME'] = i
                df['Average_Value'] = 0
                df['Forecast'] = 0
            else:   
                values = np.asarray(trans_data[(trans_data['SHOP_NAME'] == i) & (trans_data['week_value'] > 0)]['week_value'])
                exp = SimpleExpSmoothing(values)#,**model) 
                exp_model = exp.fit(smoothing_level=0.56)
                next_week_sales = exp_model.forecast(1)
                result = exp_model.fittedvalues
                df = pd.DataFrame(result)
                df.columns=['ExpSmoothValues']
                df['SHOP_NAME'] = i
                df['Average_Value'] = np.mean(values)
                df['Forecast'] = next_week_sales[0]
            fitted_list.append(df)
        new_df = pd.concat(fitted_list,0)
        for j in new_df['SHOP_NAME'].unique():
            trans_data.loc[trans_data['SHOP_NAME'] == j,'Forecast'] = new_df[new_df['SHOP_NAME'] == j]['Forecast'].iloc[0]
            trans_data['Forecast'] = [round(x, -3) for x in trans_data['Forecast']]
            trans_data.loc[trans_data['SHOP_NAME'] == j,'Average_Forecast'] = new_df[new_df['SHOP_NAME'] == j]['Average_Value'].iloc[0]
            trans_data['Average_Forecast'] = [round(x, -3) for x in trans_data['Average_Forecast']]
        val_data = trans_data[['SHOP_NAME','Forecast','Average_Forecast']]
        val_data.drop_duplicates(subset = ['SHOP_NAME'], keep='first',inplace=True)
        val_data.reset_index(drop=True)
        anchor_df = pd.merge(anchor_df,val_data,how='left',on='SHOP_NAME')
        anchor_df['DATE_OF_REPORT'] = datetime.today().strftime('%Y-%m-%d')
        anchor_df['DATE_OF_REPORT'] = pd.to_datetime(anchor_df['DATE_OF_REPORT'])
        cols = list(anchor_df.columns)
        ########################################################################
        ##########WRITE THE DATA INTO ORACLE TABLE #############################
        ########################################################################
        writer = DataMigration()
        writer.writePandas(table_name=table_name,columns=cols,
                       sourcedataframe=anchor_df)

/var/folders/tm/qvqmw3jj2pz4m7hh0rj3z8w9_kzfyl/T/ipykernel_66490/1419789909.py:43: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  new_df = pd.concat(fitted_list,0)
/var/folders/tm/qvqmw3jj2pz4m7hh0rj3z8w9_kzfyl/T/ipykernel_66490/1419789909.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val_data.drop_duplicates(subset = ['SHOP_NAME'], keep='first',inplace=True)

(1, 23)
        ANCHOR_CLIENT    SHOP_NAME        ROUTE  FULL_NAME_OF_DIRECTOR  \
0  JAMII DISTRIBUTORS  JOSEE SHOP   KITALAKAPEL  JOSEPH WANJALA OAKOLI

  PHYSICAL_ADDRESS     LOCATION NEAREST_LANDMARK       REG_NO   AGENT_CODE  \
0      KITALAKAPEL  KITALAKAPEL        KACHELIBA  UNAVAILABLE  UNAVAILABLE

          TOWN  ...    Month_2    Month_3    Month_4    Month_5    Month_6  \
0  UNAVAILABLE  ... 1161755.84 1179754.84 1452620.92 2360012.00 1762095.92

     Month_7   Month_8   Forecast  Average_Forecast  DATE_OF_REPORT
0 1464500.00 848873.88 1189000.00        1383000.00      2023-08-29

[1 rows x 23 columns]
end--- (1, 23)

In [46]:
import oracledb
import pandas as pd
connection = oracledb.connect(user='analytics', password='icub3pr0d2018#', dsn='192.168.202.75:1521/icubeprd')
query = f"""select * from analytics.{table_name} where ANCHOR_CLIENT = '{anchor_df['ANCHOR_CLIENT'].iloc[0]}'
and TO_CHAR(DATE_OF_REPORT,'MM/DD/YYYY') = TO_CHAR(SYSDATE,'MM/DD/YYYY')"""
df = pd.read_sql_query(query,connection)

/var/folders/tm/qvqmw3jj2pz4m7hh0rj3z8w9_kzfyl/T/ipykernel_66490/3295390756.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

In [47]:
df.shape

(1, 27)

In [49]:
df.sample(1).T

                                           0
SHOP_NAME                        JOSEE SHOP
ROUTE                            KITALAKAPEL
FULL_NAME_OF_DIRECTOR  JOSEPH WANJALA OAKOLI
AGENT_CODE                       UNAVAILABLE
PHYSICAL_ADDRESS                 KITALAKAPEL
TOWN                             UNAVAILABLE
LOCATION                         KITALAKAPEL
NEAREST_LANDMARK                   KACHELIBA
REG_NO                           UNAVAILABLE
PHONE_NUMBER                      0758961555
TOTAL                               11065679
MONTH_1                               836066
MONTH_2                           1161755.84
MONTH_3                           1179754.84
MONTH_4                           1452620.92
MONTH_5                              2360012
MONTH_6                           1762095.92
MONTH_7                              1464500
MONTH_8                            848873.88
MONTH_9                                 None
MONTH_10                                None
MONTH_11                                None
MONTH_12                                None
DATE_OF_REPORT           2023-08-29 00:00:00
FORECAST                             1189000
AVERAGE_FORECAST                     1383000
ANCHOR_CLIENT             JAMII DISTRIBUTORS

In [50]:
df.to_csv(f"{anchor_df['ANCHOR_CLIENT'].iloc[0]}_{anchor_df['DATE_OF_REPORT'].iloc[0]}.csv",index=False)