In [108]:
########################################################################
##########     IMPORT NECESSARY LIBRARIES.   ###########################
########################################################################
from msal import ConfidentialClientApplication
import imaplib
import email
import pandas as pd
import numpy as np
import os
from datetime import timedelta,datetime
from statsmodels.tsa.holtwinters import ExponentialSmoothing
from statsmodels.tsa.holtwinters import SimpleExpSmoothing
import oracledb as orc
import csv
from dateutil.relativedelta import relativedelta
import time
#from statsmodels.tsa.api import ExponentialSmoothing
np.set_printoptions(suppress=True)
pd.set_option('display.float_format', lambda x: '%.2f' %x)

In [109]:
########################################################################
##########     CREATE CLASS FOR INSERTING INTO DB.   ###################
########################################################################
class DataMigration:
    def __init__(self):
        pass
    
    def writePandas(self,table_name,
                 columns,sourcedataframe,batch_size = 10000,
                 renamed_columns={}):
        currrow=None
        try:
            # c = props.ProcessDataDbToFile()
            # conn = c.get_db_conn()
            pddata=sourcedataframe
            pddata.rename(columns=renamed_columns, inplace=True)
            print(pddata.shape)
            print(pddata.head(3))
            
            connection = orc.connect(user='', password='', dsn='')
            with connection.cursor() as cur:
                i=0
                colnanmesstr="("
                placeholder="("
                for col in columns:
                    if i==0:
                        placeholder=placeholder+":v"+str(i)
                        colnanmesstr = colnanmesstr + col
                    else:
                        placeholder = placeholder + ",:v" + str(i)
                        colnanmesstr = colnanmesstr + "," + col
                    i=i+1
                placeholder = placeholder + ")"
                colnanmesstr=colnanmesstr+")"
                sql = f"""insert into {table_name} {colnanmesstr} values {placeholder}"""
                insertdata = []
                try:

                    # Predefine the memory areas to match the table definition
                    cur.setinputsizes(None, 25)
                    # Adjust the batch size to meet your memory and performance requirements
                    # batch_size = 10000
                    for record in pddata.itertuples(index=False):
                        row=record._asdict()
                        record_insert = tuple(row[col] for col in columns)
                        # print(record_insert)
                        insertdata.append(record_insert)
                        if len(insertdata) % batch_size == 0:
                            # print(insertdata)
                            cur.executemany(sql, insertdata)
                            insertdata = []
                            connection.commit()
                        # print(row)
                    if insertdata:
                        cur.executemany(sql, insertdata)
                    connection.commit()
                    # conn.close()
                    print("end---",pddata.shape)
                except Exception as e:
                    print(e)
                    print(insertdata)
                    raise e
        except Exception as e:
            print("overall",e)
            # conn.rollback()
            raise e

In [64]:
########################################################################
##########     CLIENT SECRET FOR OUTLOOK ACCESS   ######################
########################################################################
def get_access_token():
    tenantID = 'd763f040-5b2c-4d8f-9810-95b011cd8254'
    authority = 'https://login.microsoftonline.com/' + tenantID
    clientID = '6afa9b7a-a61f-4060-89d6-db33c0ea74d0'
    clientSecret = 'VNd8Q~txHU6yWVBGeRBgLOXbdGZNQrWkavJptbre'
    scope = ['https://outlook.office365.com/.default'
             #'https://graph.microsoft.com/IMAP.AccessAsUser.All/.default'
             #'https://ps.outlook.com/IMAP.AccessAsApp/.default'
             #'https://outlook.office365.com/IMAP.AccessAsApp/.default'
            #'https://outlook.office.com/POP.AccessAsUser.All',
             #'api://6afa9b7a-a61f-4060-89d6-db33c0ea74d0/IMAP'
            #'https://outlook.office.com/SMTP.Send']
    ]
    app = ConfidentialClientApplication(clientID, 
          authority=authority, 
          client_credential = clientSecret)
    access_token = app.acquire_token_for_client(scopes=scope)
    return access_token

In [65]:
########################################################################
##########     TOKEN GENERATION TO ACCESS INBOX  #######################
########################################################################
def generate_auth_string(user, token):
    auth_string = f"user={user}\1auth=Bearer {token}\1\1"
    return auth_string

In [5]:
########################################################################
##########     INITIATE IMAP FOR OUTLOOK ACCESS   ######################
########################################################################
imap = imaplib.IMAP4_SSL('outlook.office365.com')
imap.debug = 4
access_token = get_access_token()
print(access_token)
try:
    imap.authenticate("XOAUTH2", lambda x:generate_auth_string(
      'gabriel.ayeni@imbank.co.ke',access_token['access_token']))
except Exception as e:
    print(e)

  36:37.79 > b'LKIH1 AUTHENTICATE XOAUTH2'

{'error': 'unauthorized_client', 'error_description': "AADSTS700016: Application with identifier '6afa9b7a-a61f-4060-89d6-db33c0ea74d0' was not found in the directory 'I&M Bank Limited'. This can happen if the application has not been installed by the administrator of the tenant or consented to by any user in the tenant. You may have sent your authentication request to the wrong tenant. Trace ID: 66f7bffc-ea95-42f9-a58a-c93509898c00 Correlation ID: 74ffddbb-c8c9-40d7-b7cf-a68c1552e9ac Timestamp: 2024-06-01 03:36:37Z", 'error_codes': [700016], 'timestamp': '2024-06-01 03:36:37Z', 'trace_id': '66f7bffc-ea95-42f9-a58a-c93509898c00', 'correlation_id': '74ffddbb-c8c9-40d7-b7cf-a68c1552e9ac', 'error_uri': 'https://login.microsoftonline.com/error?code=700016'}

  36:38.06 < b'+ '

'access_token'

In [57]:
########################################################################
##########     RETRIEVE UNREAD EMAILS/ATTACHMENT   #####################
########################################################################
imap.select('inbox')
status, email_ids = imap.search(None, 'UNSEEN')
email_ids = email_ids[0].split()
for email_id in email_ids:
    status, email_data = imap.fetch(email_id, '(RFC822)')
    for response in email_data:
        if isinstance(response, tuple):
            msg = email.message_from_bytes(response[1])
            for part in msg.walk():
                # Check if the part is an attachment
                if part.get_content_type() == 'text/plain':
                    body = part.get_payload(decode=True).decode()
                if part.get_content_maintype() == 'multipart':
                    continue
                if part.get('Content-Disposition') is None:
                    continue
                # Save attachment to disk
                filename = part.get_filename()
                print(filename)
                sender = msg['From']
                subject = msg['Subject']
                if '.png' not in filename:
                    with open(filename, 'wb') as f:
                        f.write(part.get_payload(decode=True))
                #imap.store(email_id, '-FLAGS', '\\Seen')

NameError: name 'imap' is not defined

In [110]:
filename = 'Obradley_Latest.xlsx'
business_type = 'NON-SEASONAL'

In [145]:
########################################################################
##########     READ ATTACHMENT RECEIVED.   #############################
########################################################################
if filename.split('.')[-1] == 'csv':
    anchor_df=pd.read_csv(filename)
else:
    try:
        anchor_df=pd.read_excel(filename,
                                converters={'PHONE_NUMBER':str,
                                           'REG_NO':str})
    except:
        anchor_df=pd.read_excel(filename,
                               converters={'PHONE_NUMBER':str,
                                           'REG_NO':str})
anchor_df.columns = anchor_df.columns.str.replace('[#,@,&,/,'']', '')

/var/folders/tm/qvqmw3jj2pz4m7hh0rj3z8w9_kzfyl/T/ipykernel_68896/1256712963.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  anchor_df.columns = anchor_df.columns.str.replace('[#,@,&,/,'']', '')

In [146]:
anchor_df.columns

Index(['S.No', 'ANCHOR_CLIENT', 'SHOP_NAME', 'FULL_NAME_OF_DIRECTOR',
       'AGENT_CODE', 'TOWN', 'PHONE_NUMBER', 'TOTAL', 'Month_1', 'Month_2',
       'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8',
       'Month_9', 'Month_10', 'Month_11', 'Month_12'],
      dtype='object')

In [147]:
anchor_df.shape

(1, 20)

In [148]:
anchor_df.head(3)

,S.No,ANCHOR_CLIENT,SHOP_NAME,FULL_NAME_OF_DIRECTOR,AGENT_CODE,TOWN,PHONE_NUMBER,TOTAL,Month_1,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12
0,1,Obradleys,JUJA BEAR STOCKIST,NaN,KE0132110,DGO-D04-A16-T082 - Githurai,NaN,77999760,"6,927,445.56","6,927,445.57","6,927,445.58","6,927,445.59","6,927,445.60","6,927,445.61","6,927,445.62","6,927,445.63","6,927,445.64","6,927,445.65","6,927,445.66","6,927,445.67"

In [149]:
cols = ['TOTAL', 'Month_1', 'Month_2',
       'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8',
       'Month_9', 'Month_10', 'Month_11', 'Month_12']
for i in cols:
    anchor_df[i] = [str(x).replace('\xa0', '').replace(',','').strip() for x in anchor_df[i]]
    anchor_df[i] = [float(x) for x in anchor_df[i]]

In [150]:
anchor_df.columns

Index(['S.No', 'ANCHOR_CLIENT', 'SHOP_NAME', 'FULL_NAME_OF_DIRECTOR',
       'AGENT_CODE', 'TOWN', 'PHONE_NUMBER', 'TOTAL', 'Month_1', 'Month_2',
       'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8',
       'Month_9', 'Month_10', 'Month_11', 'Month_12'],
      dtype='object')

In [151]:
anchor_df.rename(columns={'ANCHOR CLIENT ':'ANCHOR_CLIENT',
                         'NEAREST_LANDMARK (school churchmallbuilding e.t.c)': 'NEAREST_LANDMARK',
                          'id no s': 'REG_NO',
                         'REG_NO  (ID)': 'REG_NO', 'DEALER _NAME':'SHOP_NAME',
                         'Total': 'TOTAL'},inplace=True)
anchor_df['ANCHOR_CLIENT'] = anchor_df['ANCHOR_CLIENT'].astype(str)

In [152]:
try:
    del anchor_df['S.No']
    del anchor_df['NO_OF_OUTLETS']
except:
    pass

In [155]:
anchor_df[['SHOP_NAME','ANCHOR_CLIENT', 'ROUTE', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
       'PHYSICAL_ADDRESS', 'TOWN', 'LOCATION', 'NEAREST_LANDMARK', 'REG_NO',
       'PHONE_NUMBER']] = anchor_df[['SHOP_NAME','ANCHOR_CLIENT', 'ROUTE', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
       'PHYSICAL_ADDRESS', 'TOWN', 'LOCATION', 'NEAREST_LANDMARK', 'REG_NO',
       'PHONE_NUMBER']].fillna('UNAVAILABLE')
anchor_df=anchor_df.dropna(axis=1,how='all')

In [156]:
anchor_df[['SHOP_NAME','ANCHOR_CLIENT', 'ROUTE', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
       'PHYSICAL_ADDRESS', 'TOWN', 'LOCATION', 'NEAREST_LANDMARK', 'REG_NO',
       'PHONE_NUMBER']] = anchor_df[['SHOP_NAME','ANCHOR_CLIENT', 'ROUTE', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
       'PHYSICAL_ADDRESS', 'TOWN', 'LOCATION', 'NEAREST_LANDMARK', 'REG_NO',
       'PHONE_NUMBER']].replace("'","")

In [157]:
anchor_df = anchor_df[anchor_df['SHOP_NAME'] != 'UNAVAILABLE']
anchor_df.columns

Index(['ANCHOR_CLIENT', 'SHOP_NAME', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
       'TOWN', 'PHONE_NUMBER', 'TOTAL', 'Month_1', 'Month_2', 'Month_3',
       'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9',
       'Month_10', 'Month_11', 'Month_12', 'ROUTE', 'PHYSICAL_ADDRESS',
       'LOCATION', 'NEAREST_LANDMARK', 'REG_NO'],
      dtype='object')

In [158]:
cols = list(anchor_df.columns)

In [159]:
if 'Month_1' in cols:
    table_name = 'Stock_Finance_Monthly'
else:
    table_name = 'Stock_Finance_Weekly'
print('records will be inserted into this table: ', table_name)

records will be inserted into this table:  Stock_Finance_Monthly

In [160]:
anchor_df.columns

Index(['ANCHOR_CLIENT', 'SHOP_NAME', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
       'TOWN', 'PHONE_NUMBER', 'TOTAL', 'Month_1', 'Month_2', 'Month_3',
       'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9',
       'Month_10', 'Month_11', 'Month_12', 'ROUTE', 'PHYSICAL_ADDRESS',
       'LOCATION', 'NEAREST_LANDMARK', 'REG_NO'],
      dtype='object')

In [161]:
anchor_df.fillna(0, inplace=True)

In [162]:
anchor_df['TOTAL'] = anchor_df['TOTAL'].astype('int64')

In [163]:
anchor_df.shape

(1, 24)

In [166]:
anchor_df.columns

Index(['ANCHOR_CLIENT', 'SHOP_NAME', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
       'TOWN', 'PHONE_NUMBER', 'TOTAL', 'Month_1', 'Month_2', 'Month_3',
       'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9',
       'Month_10', 'Month_11', 'Month_12', 'ROUTE', 'PHYSICAL_ADDRESS',
       'LOCATION', 'NEAREST_LANDMARK', 'REG_NO'],
      dtype='object')

In [167]:
anchor_df = anchor_df[['ANCHOR_CLIENT', 'SHOP_NAME', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
       'TOWN', 'PHONE_NUMBER','ROUTE', 'PHYSICAL_ADDRESS',
       'LOCATION', 'NEAREST_LANDMARK', 'REG_NO', 'TOTAL', 'Month_1', 'Month_2', 'Month_3',
       'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9',
       'Month_10', 'Month_11', 'Month_12']]

In [168]:
if business_type.upper() != 'SEASONAL':
    if table_name == 'Stock_Finance_Monthly':
        last_column = anchor_df.columns[-1]
        last_month_index = last_column.split('_')[1]
        transactions_amount = anchor_df.copy()
        transactions_amount.drop(columns=['ROUTE', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
           'PHYSICAL_ADDRESS', 'TOWN', 'LOCATION', 'NEAREST_LANDMARK', 'REG_NO',
           'PHONE_NUMBER','TOTAL','ANCHOR_CLIENT'],inplace=True)
        refkey = 'SHOP_NAME'
        transaction_week = transactions_amount.copy()
        transaction_week = transaction_week.melt(id_vars=refkey,
                             var_name='variable', 
                            value_name="value")
        format ="%Y-%m-%d"
        transaction_week['value']=transaction_week['value'].apply(lambda x:str(x).replace("-",'0').replace(' ','0'))
        transaction_week['week_value']=transaction_week['value'].astype(float)
        trans_data=transaction_week.fillna(0)
        trans_data['value']=pd.to_numeric(trans_data['value']).replace("-",0.0)
        trans_data['week_value']=trans_data['week_value'].astype(float)
        column_names=[]
        for i in range(1,int(last_month_index) + 1,1):
            column_names.append('Month_'+ str(i))
        trans_data['variable'] = pd.Categorical(trans_data['variable'],
                                            categories= column_names,ordered=True)
        trans_data.sort_values(by = ['SHOP_NAME','variable'], inplace=True)
        trans_data = trans_data[~trans_data['variable'].isnull()]
        fitted_list = []
        ########################################################################
        ##########     APPLY SMOOTHING PER SHOP NAME   #########################
        ########################################################################
        for i in trans_data['SHOP_NAME'].unique():  
            values = np.asarray(trans_data[trans_data['SHOP_NAME'] == i]['week_value'])
            exp = SimpleExpSmoothing(values)#,**model) 
            exp_model = exp.fit(smoothing_level=0.56) 
            next_week_sales = exp_model.forecast(1)
            result = exp_model.fittedvalues
            df = pd.DataFrame(result)
            df.columns=['ExpSmoothValues']
            df['SHOP_NAME'] = i
            df['Average_Value'] = np.mean(values)
            df['Forecast'] = next_week_sales[0]
            fitted_list.append(df)
        new_df = pd.concat(fitted_list,0)
        trans_data['ExpSmoothValues'] = new_df['ExpSmoothValues'].values
        trans_data['Forecast'] = new_df['Forecast'].values
        trans_data['Forecast'] = [round(x, -3) for x in trans_data['Forecast']]
        trans_data['Average_Forecast'] = new_df['Average_Value'].values
        trans_data['Average_Forecast'] = [round(x, -3) for x in trans_data['Average_Forecast']]
        val_data = trans_data[['SHOP_NAME','Forecast','Average_Forecast']]
        val_data.drop_duplicates(subset = ['SHOP_NAME'], keep='first',inplace=True)
        val_data.reset_index(drop=True)
        anchor_df = pd.merge(anchor_df,val_data,how='left',on='SHOP_NAME')
        anchor_df['DATE_OF_REPORT'] = datetime.today().strftime('%Y-%m-%d')
        anchor_df['DATE_OF_REPORT'] = pd.to_datetime(anchor_df['DATE_OF_REPORT'])
        cols = list(anchor_df.columns)
        ########################################################################
        ##########WRITE THE DATA INTO ORACLE TABLE #############################
        ########################################################################
        writer = DataMigration()
        writer.writePandas(table_name=table_name,columns=cols,
                       sourcedataframe=anchor_df)
    else:
        last_column = anchor_df.columns[-1]
        last_month_index = last_column.split('_')[1]
        transactions_amount = anchor_df.copy()
        transactions_amount.drop(columns=['ROUTE', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
           'PHYSICAL_ADDRESS', 'TOWN', 'LOCATION', 'NEAREST_LANDMARK', 'REG_NO',
           'PHONE_NUMBER','TOTAL','ANCHOR_CLIENT'],inplace=True)
        refkey = 'SHOP_NAME'
        transaction_week = transactions_amount.copy()
        transaction_week = transaction_week.melt(id_vars=refkey,
                             var_name='variable', 
                            value_name="value")
        format ="%Y-%m-%d"
        transaction_week['value']=transaction_week['value'].apply(lambda x:str(x).replace("-",'0'))
        transaction_week['week_value']=transaction_week['value'].astype(float)
        trans_data=transaction_week.fillna(0)
        trans_data['value']=pd.to_numeric(trans_data['value']).replace("-",0.0)
        trans_data['week_value']=trans_data['week_value'].astype(float)
        column_names=[]
        for i in range(1,int(last_month_index) + 1,1):
            column_names.append('Week_'+ str(i))
        trans_data['variable'] = pd.Categorical(trans_data['variable'],
                                            categories= column_names,ordered=True)
        trans_data.sort_values(by = ['SHOP_NAME','variable'], inplace=True)
        trans_data = trans_data[~trans_data['variable'].isnull()]
        fitted_list = []
        ########################################################################
        ##########     APPLY SMOOTHING PER SHOP NAME   #########################
        ########################################################################
        for i in trans_data['SHOP_NAME'].unique():  
            values = np.asarray(trans_data[trans_data['SHOP_NAME'] == i]['week_value'])
            exp = SimpleExpSmoothing(values)#,**model) 
            exp_model = exp.fit(smoothing_level=0.56) 
            next_week_sales = exp_model.forecast(1)
            result = exp_model.fittedvalues
            df = pd.DataFrame(result)
            df.columns=['ExpSmoothValues']
            df['SHOP_NAME'] = i
            df['Average_Value'] = np.mean(values)
            df['Forecast'] = next_week_sales[0]
            fitted_list.append(df)
        new_df = pd.concat(fitted_list,0)
        trans_data['ExpSmoothValues'] = new_df['ExpSmoothValues'].values
        trans_data['Forecast'] = new_df['Forecast'].values
        trans_data['Forecast'] = [round(x, -3) for x in trans_data['Forecast']]
        trans_data['Average_Forecast'] = new_df['Average_Value'].values
        trans_data['Average_Forecast'] = [round(x, -3) for x in trans_data['Average_Forecast']]
        val_data = trans_data[['SHOP_NAME','Forecast','Average_Forecast']]
        val_data.drop_duplicates(subset = ['SHOP_NAME'], keep='first',inplace=True)
        val_data.reset_index(drop=True)
        anchor_df = pd.merge(anchor_df,val_data,how='left',on='SHOP_NAME')
        anchor_df['DATE_OF_REPORT'] = datetime.today().strftime('%Y-%m-%d')
        anchor_df['DATE_OF_REPORT'] = pd.to_datetime(anchor_df['DATE_OF_REPORT'])
        cols = list(anchor_df.columns)
        ########################################################################
        ##########WRITE THE DATA INTO ORACLE TABLE #############################
        ########################################################################
        writer = DataMigration()
        writer.writePandas(table_name=table_name,columns=cols,
                       sourcedataframe=anchor_df)
else:
    print('Business type is {}'.format(business_type))
    if table_name == 'Stock_Finance_Monthly':
        last_column = anchor_df.columns[-1]
        last_month_index = last_column.split('_')[1]
        transactions_amount = anchor_df.copy()
        transactions_amount.drop(columns=['ROUTE', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
           'PHYSICAL_ADDRESS', 'TOWN', 'LOCATION', 'NEAREST_LANDMARK', 'REG_NO',
           'PHONE_NUMBER','TOTAL','ANCHOR_CLIENT'],inplace=True)
        refkey = 'SHOP_NAME'
        transaction_week = transactions_amount.copy()
        transaction_week = transaction_week.melt(id_vars=refkey,
                             var_name='variable', 
                            value_name="value")
        format ="%Y-%m-%d"
        transaction_week['value']=transaction_week['value'].apply(lambda x:str(x).replace("-",'0'))
        transaction_week['week_value']=transaction_week['value'].replace(',','').astype(float)
        trans_data=transaction_week.fillna(0)
        trans_data['value']=pd.to_numeric(trans_data['value']).replace("-",0.0)
        trans_data['week_value']=trans_data['week_value'].astype(float)
        column_names=[]
        for i in range(1,int(last_month_index) + 1,1):
            column_names.append('Month_'+ str(i))
        trans_data['variable'] = pd.Categorical(trans_data['variable'],
                                            categories= column_names,ordered=True)
        trans_data.sort_values(by = ['SHOP_NAME','variable'], inplace=True)
        trans_data = trans_data[~trans_data['variable'].isnull()]
        fitted_list = []
        ########################################################################
        ##########     APPLY SMOOTHING PER SHOP NAME   #########################
        ########################################################################
        for i in trans_data['SHOP_NAME'].unique():
            if (trans_data[(trans_data['SHOP_NAME'] == i) & (trans_data['week_value'] > 0)].shape[0]) < 6:
                df = pd.DataFrame([0])
                df.columns=['ExpSmoothValues']
                df['SHOP_NAME'] = i
                df['Average_Value'] = 0
                df['Forecast'] = 0
            else:   
                values = np.asarray(trans_data[(trans_data['SHOP_NAME'] == i) & (trans_data['week_value'] > 0)]['week_value'])
                exp = SimpleExpSmoothing(values)#,**model) 
                exp_model = exp.fit(smoothing_level=0.56)
                next_week_sales = exp_model.forecast(1)
                result = exp_model.fittedvalues
                df = pd.DataFrame(result)
                df.columns=['ExpSmoothValues']
                df['SHOP_NAME'] = i
                df['Average_Value'] = np.mean(values)
                df['Forecast'] = next_week_sales[0]
            fitted_list.append(df)
        new_df = pd.concat(fitted_list,0)
        for j in new_df['SHOP_NAME'].unique():
            trans_data.loc[trans_data['SHOP_NAME'] == j,'Forecast'] = new_df[new_df['SHOP_NAME'] == j]['Forecast'].iloc[0]
            trans_data['Forecast'] = [round(x, -3) for x in trans_data['Forecast']]
            trans_data.loc[trans_data['SHOP_NAME'] == j,'Average_Forecast'] = new_df[new_df['SHOP_NAME'] == j]['Average_Value'].iloc[0]
            trans_data['Average_Forecast'] = [round(x, -3) for x in trans_data['Average_Forecast']]
        val_data = trans_data[['SHOP_NAME','Forecast','Average_Forecast']]
        val_data.drop_duplicates(subset = ['SHOP_NAME'], keep='first',inplace=True)
        val_data.reset_index(drop=True)
        anchor_df = pd.merge(anchor_df,val_data,how='left',on='SHOP_NAME')
        anchor_df['DATE_OF_REPORT'] = datetime.today().strftime('%Y-%m-%d')
        anchor_df['DATE_OF_REPORT'] = pd.to_datetime(anchor_df['DATE_OF_REPORT'])
        cols = list(anchor_df.columns)
        ########################################################################
        ##########WRITE THE DATA INTO ORACLE TABLE #############################
        ########################################################################
        writer = DataMigration()
        writer.writePandas(table_name=table_name,columns=cols,
                       sourcedataframe=anchor_df)
    else:
        last_column = anchor_df.columns[-1]
        last_month_index = last_column.split('_')[1]
        transactions_amount = anchor_df.copy()
        transactions_amount.drop(columns=['ROUTE', 'FULL_NAME_OF_DIRECTOR', 'AGENT_CODE',
           'PHYSICAL_ADDRESS', 'TOWN', 'LOCATION', 'NEAREST_LANDMARK', 'REG_NO',
           'PHONE_NUMBER','TOTAL','ANCHOR_CLIENT'],inplace=True)
        refkey = 'SHOP_NAME'
        transaction_week = transactions_amount.copy()
        transaction_week = transaction_week.melt(id_vars=refkey,
                             var_name='variable', 
                            value_name="value")
        format ="%Y-%m-%d"
        transaction_week['value']=transaction_week['value'].apply(lambda x:str(x).replace("-",'0'))
        transaction_week['week_value']=transaction_week['value'].replace(',','').astype(float)
        trans_data=transaction_week.fillna(0)
        trans_data['value']=pd.to_numeric(trans_data['value']).replace("-",0.0)
        trans_data['week_value']=trans_data['week_value'].astype(float)
        column_names=[]
        for i in range(1,int(last_month_index) + 1,1):
            column_names.append('Week_'+ str(i))
        trans_data['variable'] = pd.Categorical(trans_data['variable'],
                                            categories= column_names,ordered=True)
        trans_data.sort_values(by = ['SHOP_NAME','variable'], inplace=True)
        trans_data = trans_data[~trans_data['variable'].isnull()]
        fitted_list = []
        ########################################################################
        ##########     APPLY SMOOTHING PER SHOP NAME   #########################
        ########################################################################
        for i in trans_data['SHOP_NAME'].unique():
            if (trans_data[(trans_data['SHOP_NAME'] == i) & (trans_data['week_value'] > 0)].shape[0]) < 15:
                df = pd.DataFrame([0])
                df.columns=['ExpSmoothValues']
                df['SHOP_NAME'] = i
                df['Average_Value'] = 0
                df['Forecast'] = 0
            else:   
                values = np.asarray(trans_data[(trans_data['SHOP_NAME'] == i) & (trans_data['week_value'] > 0)]['week_value'])
                exp = SimpleExpSmoothing(values)#,**model) 
                exp_model = exp.fit(smoothing_level=0.56)
                next_week_sales = exp_model.forecast(1)
                result = exp_model.fittedvalues
                df = pd.DataFrame(result)
                df.columns=['ExpSmoothValues']
                df['SHOP_NAME'] = i
                df['Average_Value'] = np.mean(values)
                df['Forecast'] = next_week_sales[0]
            fitted_list.append(df)
        new_df = pd.concat(fitted_list,0)
        for j in new_df['SHOP_NAME'].unique():
            trans_data.loc[trans_data['SHOP_NAME'] == j,'Forecast'] = new_df[new_df['SHOP_NAME'] == j]['Forecast'].iloc[0]
            trans_data['Forecast'] = [round(x, -3) for x in trans_data['Forecast']]
            trans_data.loc[trans_data['SHOP_NAME'] == j,'Average_Forecast'] = new_df[new_df['SHOP_NAME'] == j]['Average_Value'].iloc[0]
            trans_data['Average_Forecast'] = [round(x, -3) for x in trans_data['Average_Forecast']]
        val_data = trans_data[['SHOP_NAME','Forecast','Average_Forecast']]
        val_data.drop_duplicates(subset = ['SHOP_NAME'], keep='first',inplace=True)
        val_data.reset_index(drop=True)
        anchor_df = pd.merge(anchor_df,val_data,how='left',on='SHOP_NAME')
        anchor_df['DATE_OF_REPORT'] = datetime.today().strftime('%Y-%m-%d')
        anchor_df['DATE_OF_REPORT'] = pd.to_datetime(anchor_df['DATE_OF_REPORT'])
        cols = list(anchor_df.columns)
        ########################################################################
        ##########WRITE THE DATA INTO ORACLE TABLE #############################
        ########################################################################
        writer = DataMigration()
        writer.writePandas(table_name=table_name,columns=cols,
                       sourcedataframe=anchor_df)

(1, 27)
  ANCHOR_CLIENT           SHOP_NAME FULL_NAME_OF_DIRECTOR AGENT_CODE  \
0     Obradleys  JUJA BEAR STOCKIST           UNAVAILABLE  KE0132110

                          TOWN PHONE_NUMBER        ROUTE PHYSICAL_ADDRESS  \
0  DGO-D04-A16-T082 - Githurai  UNAVAILABLE  UNAVAILABLE      UNAVAILABLE

      LOCATION NEAREST_LANDMARK  ...    Month_6    Month_7    Month_8  \
0  UNAVAILABLE      UNAVAILABLE  ... 6927445.61 6927445.62 6927445.63

     Month_9   Month_10   Month_11   Month_12   Forecast  Average_Forecast  \
0 6927445.64 6927445.65 6927445.66 6927445.67 6927000.00        6927000.00

   DATE_OF_REPORT
0      2024-06-21

[1 rows x 27 columns]
end--- (1, 27)

/var/folders/tm/qvqmw3jj2pz4m7hh0rj3z8w9_kzfyl/T/ipykernel_68896/396691524.py:43: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  new_df = pd.concat(fitted_list,0)
/var/folders/tm/qvqmw3jj2pz4m7hh0rj3z8w9_kzfyl/T/ipykernel_68896/396691524.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val_data.drop_duplicates(subset = ['SHOP_NAME'], keep='first',inplace=True)

In [170]:
import oracledb
import pandas as pd
connection = oracledb.connect(user='analytics', password='icub3pr0d2018#', dsn='192.168.202.75:1521/icubeprd')
query = f"""select * from analytics.{table_name} where ANCHOR_CLIENT = '{anchor_df['ANCHOR_CLIENT'].iloc[0]}'
and TO_CHAR(DATE_OF_REPORT,'MM/DD/YYYY') = TO_CHAR(SYSDATE,'MM/DD/YYYY')"""
df = pd.read_sql_query(query,connection)

/var/folders/tm/qvqmw3jj2pz4m7hh0rj3z8w9_kzfyl/T/ipykernel_68896/3295390756.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

In [171]:
df.shape

(1, 27)

In [172]:
df.sample(1)

,SHOP_NAME,ROUTE,FULL_NAME_OF_DIRECTOR,AGENT_CODE,PHYSICAL_ADDRESS,TOWN,LOCATION,NEAREST_LANDMARK,REG_NO,PHONE_NUMBER,...,MONTH_7,MONTH_8,MONTH_9,MONTH_10,MONTH_11,MONTH_12,DATE_OF_REPORT,FORECAST,AVERAGE_FORECAST,ANCHOR_CLIENT
0,JUJA BEAR STOCKIST,UNAVAILABLE,UNAVAILABLE,KE0132110,UNAVAILABLE,DGO-D04-A16-T082 - Githurai,UNAVAILABLE,UNAVAILABLE,UNAVAILABLE,UNAVAILABLE,...,6927445.62,6927445.63,6927445.64,6927445.65,6927445.66,6927445.67,2024-06-21,6927000,6927000,Obradleys

In [173]:
df.to_csv(f"{anchor_df['ANCHOR_CLIENT'].iloc[0]}_{anchor_df['DATE_OF_REPORT'].iloc[0]}.csv",index=False)